body{
	  padding:0;
    margin-top:0;
    margin-bottom: 0;
    margin-left: 0;
    background-color: #bfbfbf;
}

#head{
	width: 100%;
	height: 20px;
	padding: 8px;
	background-color: #0047b3;
	font-family: Alef;
	font-size: 10;
}

#head ul{
	list-style-type: none;
	margin-left: 25px;
	margin-right: 40px;
	margin-top: 0px;
}

#head ul li{
	float: left;
	color: white;
	font-weight: bold;
}

#main{
	margin-left: 80px;
	margin-right: 80px;
	margin-top: 20px;
	font-family: Open Sans Light;
  padding: 20px;
}

#left_bar{
	padding: 12px;
	float: left;
	overflow: hidden;
	font-style: italic;
	width: 25%;
}

#right_bar{
	padding:12px;
	float: left;
	overflow: hidden;
	width: 70%;
  background-color: snow;
  margin-top: 12px;
  border-left-style:solid;
  border-left-width: 4px;
  border-left-color: #004d99; 
  margin-bottom: 45px;
}


.navigation {
  width: auto;
  font-size: 8;
}

/* reset our lists to remove bullet points and padding */
.mainmenu {
  list-style-type: none;
  padding: 0;
  margin: 0;
  border-radius: 10px;
}

.mainmenu a {
  display: block;
  background-color: snow;
  text-decoration: none;
  padding: 5px;
  color: black;
  border-bottom: white;
  border-bottom-style: solid;
  border-bottom-width:0px;
  transition: border-bottom 0.5s linear, border-style 1s linear, border-width 1s linear;
}

.mainmenu a.active{
	background-color: #3385ff;
    border-bottom: #3385ff;
    border-bottom-style: solid;
    border-bottom-width:2px;
    color: white;
    font-family: Open Sans;
    font-weight: italic bold;
}

/* add hover behaviour */
.mainmenu a:hover {
    border-bottom: #3385ff;
    border-bottom-style: solid;
    border-bottom-width:2px;
}

.mainmenu a:active {
    background-color: #3385ff;
    border-bottom: #3385ff;
    border-bottom-style: solid;
    border-bottom-width:2px;
    color: white;
    font-family: Open Sans;
    font-weight: italic bold;
}

#right_bar input[type=text] {
    width: 350px;
    height: 30px;
    padding: 12px 20px;
    margin: 8px ;
    display: inline-block;
    border: 2px solid #ccc;
    border-radius: 0px;
    border-left-color: #3385ff; 
    box-sizing: border-box;
}

#right_bar textarea {
    padding: 12px 20px;
    margin: 10px ;
    display: inline-block;
    border: 2px solid #ccc;
    border-radius: 0px;
    border-left-color: #3385ff; 
    box-sizing: border-box;
}

#right_bar .custom-file-upload {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 12px 20px;
    height:30px;
    margin: 10px ;
    cursor: pointer;
}

.taglist{
    list-style-type: none;
    padding: 10px;
}

.tagitem, button{
    display: inline-block;
    border-style: solid;
    border-width: 1.5px;
    border-color:  #0066ff;
    background-color: #f2f2f2;
    color:#1a1a1a;
    margin-bottom: 4px;
    padding: 2px;
    border-radius: 4px;
    font-size: small;
}

input[type=submit],input[type=reset]{
    font-family:inherit;
    font-size:100%;
    padding:.5em 1em;
    color: white;
    border:1px solid #999;
    border:0 rgba(0,0,0,0);
    background-color:#0066ff;;
    text-decoration:none;
    border-radius:2px;
}

input[type=submit]:hover,input[type=submit]:focus,input[type=reset]:hover,input[type=hover]:focus{
    background-color: white;
    color:#0066ff;
    border-style: solid;
    border-width: 1px;
    border-color: #0066ff;
}


input[type=submit]:active,input[type=reset]:active{
    box-shadow:0 0 0 1px rgba(0,0,0,.15) inset,0 0 6px rgba(0,0,0,.2) inset;
    border-color:#000\9
}

.math_keyboard{
  width:600px;
  height: auto;
}
