body{
	padding:0;
    margin-top:0;
    margin-bottom: 0;
    margin-left: 0;
    background-color: #bfbfbf;
}

#head{
	width: 100%;
	height: 20px;
	padding: 8px;
	background-color: #0047b3;
	font-family: Alef;
	font-size: 10;
}

#head ul{
	list-style-type: none;
	margin-left: 25px;
	margin-right: 40px;
	margin-top: 0px;
}

#head ul li{
	float: left;
	color: white;
	font-weight: bold;
}

#main{
	margin-left: 80px;
	margin-right: 80px;
	margin-top: 20px;
	font-family: Open Sans Light;
}

#left_bar{
	padding: 10px;
	float: left;
	overflow: hidden;
	font-style: italic;
	width: 75%;
}

#right_bar{
	padding:10px;
	float: left;
	overflow: hidden;
	width: 70%;
}


.navigation {
  width: auto;
  font-size: 8;
}

/* reset our lists to remove bullet points and padding */
.mainmenu {
  list-style-type: none;
  padding: 0;
  margin: 0;
  border-radius: 10px;
}

.mainmenu a {
  display: block;
  background-color: snow;
  text-decoration: none;
  padding: 5px;
  color: black;
  border-bottom: white;
  border-bottom-style: solid;
  border-bottom-width:0px;
  transition: border-bottom 0.5s linear, border-style 1s linear, border-width 1s linear;
}

.mainmenu a.active{
	background-color: #3385ff;
    border-bottom: #3385ff;
    border-bottom-style: solid;
    border-bottom-width:2px;
    color: white;
    font-family: Open Sans;
    font-weight: italic bold;
}

/* add hover behaviour */
.mainmenu a:hover {
    border-bottom: #3385ff;
    border-bottom-style: solid;
    border-bottom-width:2px;
}

.mainmenu a:active {
    background-color: #3385ff;
    border-bottom: #3385ff;
    border-bottom-style: solid;
    border-bottom-width:2px;
    color: white;
    font-family: Open Sans;
    font-weight: italic bold;
}

